*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:"slnt" 0;
}
.navbar{
margin-top: 30px;
    background-color:  rgba(0, 41, 83, 0.815) ;
}

header{
    height: 100vh;
    width: 100vw;
}

.navbar ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}

.navbar ul li {
    /* color: white; */
  list-style: none;
}
.navbar ul li a{
    color: aliceblue;
    text-decoration:  none;
    font-size: large;
}
.navbar ul li a:hover{
    color: yellow;
}


ul img{
    background-color: #fff;
padding: 1px;
    border-radius: 1rem;
}
.nav2{
  
        position: fixed;
        top: 0;
        width: 100%;
      
}
.nav2 ul {
    display: flex;
    justify-content: right;
    background-color: rgb(170, 5, 5);
    padding: 10px;
}
.nav2 ul li a{
color: white;
text-decoration: none;
}

.nav2 ul li a:hover{


    color: yellow;
}

.nav2 ul li{
margin: 0px 10px 0px;
    list-style: none;
}
header{
    background-image: url(https://timt.ac.in/templates/timt/images/slide5.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

main{
   height: 100vh;
   width: 100vw;
   display: flex;
   justify-content: center;
   align-items: center;


   /* background-image: url(https://timt.ac.in/templates/timt/images/slide2.jpg); */
   background-color: rgba(47, 123, 199, 0.137) ;
}
.div1{
    width: 170vw;
    /* height: 30vh; */
    margin: 10px;
    padding: 200px;

}
.div2{
    width: 80vw;
    margin: 105px;
}
.btnread{
    background-color: rgb(170, 5, 5);
    color: #fff;
    border-radius: 1rem;
    padding: 1rem;
    cursor: pointer;
    margin-top: 30px;
}
.spn{
    font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
   color: rgb(10 61 129);
}
h5{
    margin-top:30px ;
    margin-bottom: 10px;
}



.mainin{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color:rgb(0, 41, 83) ;
}
.mainin div{
justify-content: center;
align-items: center;
background-color: blue;
background-color: #fff;
padding: 50px 0px 50px 0px;
margin: 10px;
color: white;
text-align: center;
border-radius: 1rem;
}
.mainin div a{
    color:black;
    text-decoration: none;
    
}

.tomorrow{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tomorrow div{
    margin-top: 100px;
}
.tomorrow div img{
/* background-image: url(); */
/* background-size: cover;
 */
 /* height: 100vh; */
 object-fit: cover;
}
.tomorrow h1 {
    font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
    font-size: 100px;
}
.spn{
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
      font-size: 100px;
}
.spn{

color: rgb(10 61 129);}

.tomorrow div button{
    background-color:rgb(170, 5, 5);
    padding: 15px;

    color: #fff;
    border: none;
    cursor: pointer;
  margin-left: 30px;
  border-radius: 1rem;
    margin-top: 10px;
    
}
.tomorrow div button:hover {
  border: 1px solid yellow;
}
.achiv{
    height: 40vh;
}
.achiv h6 {
    text-align: center;
    font-size: 40px;
}
.some{
    
    text-align: center;
    font-size: 20px;
}
.innera{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.innera>div{
margin-top: 100px;
margin-bottom: 30px;
}


.fa>img{
    height: 70px;
}
footer{
    margin-top: 150px;
}
.btnread:hover{
    border: 2px solid yellow;
}
.footcon{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(0, 41, 83);
    padding: 30px;
}
.footcon div ul li {
    list-style: none;
}
.footcon div ul li a{
color: white;
text-decoration: none;
}
.footcon div pre{
    color: #fff;
}
.footcon div h3{
    color: #fff;
    text-align: center;
}
.last{
    text-align: center;
    background-color: black;
    color: #fff;
}
.footcon div ul li a:hover{
    color: yellow;
}